.fa-edit:hover,
.fa-trash-alt:hover {
  cursor: pointer;
}

.card-container {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.card {
  width: 200px;
  height: 150px;
  margin: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0px 2px 3px lightgrey;
  float: left;
}

/* Card Content */
.card-content {
  padding: 20px;
}

/* Exercise Name */
.exercise-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Exercise Detail */
.exercise-detail {
  font-size: 16px;
  margin-top: 10px;
}

/* Card Actions */
.card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}
.faPlus {
  cursor: pointer;
}

/* .bottom-div {
  position: absolute;
  bottom: 0;
} */
