.containerStyles {
  height: 50px;
  width: 100%;
  background-color: #8c8c8c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0;
}

.headerStyles {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 20px;
  text-align: center;
}

.userStyles {
  display: flex;
  align-items: center;
  color: #3c3b3f;
  font-size: 13px;
  font-weight: 500;
  margin-right: 20px;
}

.logoutStyles {
  background-color: #efd9b4;
  color: #3c3b3f;
  font-size: 13px;
  font-weight: 500;
  border: none;
  padding: 8px 20px;
  border-radius: 20%;
  cursor: pointer;
}
